body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #f8f9fa, #ffffff);
}

main {
    padding: 2rem;
}

.donate-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.donate-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.donate-form input {
    margin-bottom: 10px;
}

.donate-form button {
    background-color: #478ac9;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.donations-list {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donations-list ul {
    list-style-type: none;
    padding: 0;
}

.donations-list li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;
}
table.dataTable th, table.dataTable td {
    text-align: left;
    padding: 10px;
}
table.dataTable thead th {
    background-color: #f4f4f4;
}
table.dataTable tbody tr:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.alert {
    margin-bottom: 20px;
}

.btn-reservation, .btn-delete {
    margin: 5px;
}

/* Button customizations */
.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn-reservation {
    background-color: #28a745;
    color: white;
}

